body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #ffffff;
  color: #3b2414;
}
header {
  background-image: url("https://images.unsplash.com/photo-1529699211952-734e80c4d42b");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}
.overlay {
  background-color: rgba(59, 36, 20, 0.78);
  padding: 60px 20px;
}

header h1 {
  margin: 0;
  font-size: 48px;
}
header p {
  font-size: 18px;
  color: #c4d8e2;
}
nav {
  background-color: #3b2414;
  text-align: center;
  padding: 15px;
}

nav button {
  background-color: #c4d8e2;
  color: #3b2414;
  border: 2px solid white;
  padding: 12px 18px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
nav button:hover {
  background-color: white;
}

main {
  width: 90%;
  margin: 25px auto;
}
.tab {
  display: none;
}
.tab.active {
  display: block;
}
h2 {
  color: #3b2414;
  border-bottom: 4px solid #c4d8e2;
  padding-bottom: 8px;
}

.card {
  background-color: white;
  padding: 20px;
  border-left: 8px solid #c4d8e2;
  border-radius: 12px;
  box-shadow: 0 3px 10px gray;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 3px 10px gray;
  border-radius: 10px;
  overflow: hidden;
}
th {
  background-color: #3b2414;
  color: white;
  padding: 12px;
}

td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #eaf3f7;
}
footer {
  text-align: center;
  background-color: #3b2414;
  color: white;
  padding: 15px;
  margin-top: 40px;
}
